<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>{% block title %}akoumjian.com{% endblock %}</title>
  <link href='http://fonts.googleapis.com/css?family=Lato:400,700,400italic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css" />
  <link rel="shortcut icon" href="{{ STATIC_URL }}favicon.ico" />
  <link rel="author" href="mailto:akoumjian@gmail.com" />
</head>
<body>
  <h1 class="site-header">akoumjian.com</h1>
  <div class="page">
    <nav>
      <ul>
        <li class="blog"><a href="/">Blog</a></li>
        <li class="about"><a href="/about/">About</a></li>
      <ul>
    </nav>
    <section class="content">
    {% block content %}
    {% endblock %}
    </section>
  </div>
</body>
</html>