{% extends 'base.html' %}
{% block content %}
{% for post in posts.object_list %}
    <article>
    <header>
        <hgroup>
            <h1><a href="/{{post.slug}}/">{{post.title}}</a></h1>
            <h2>{{post.tagline}}</h2>
            <time datetime="{{post.modified|date:"c"}}" pubdate>{{ post.modified|date:"D d M Y" }}</time>
        </hgroup>
    </header>
    {{post.body_html|safe}}
    </article>
{% endfor %}

<nav>
    <span class="step-links">
        {% if posts.has_previous %}
            <a href="?page={{ posts.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
        </span>

        {% if posts.has_next %}
            <a href="?page={{ posts.next_page_number }}">next</a>
        {% endif %}
    </span>
</nav>
{% endblock %}
