body { 
    font-size: 18px; 
    font-family: Lato, sans-serif;
    margin: 20 0;
    text-align: center;
    width: 100%;
}

section.content {
    text-align: left;
    width: 80%;
    max-width: 960px;
    margin: 0 auto;
}
