/*body { 
    font-size: 18px; 
    font-family: Lato, sans-serif;
    margin: 20 0;
    text-align: center;
    width: 100%;
}

h1.site-header {
	float: left;
	width: 300px;
	margin: 0;
	padding: 0;
	border: 0;
	line-height: 34px;
}

div.page {
	max-width: 900px;
    margin: 0px 20px 0px 300px;
}

section.content {
    text-align: left;
}

article h1 {
	font-size: 1.5em;
}

article h1 a {
	text-decoration: none;
	color: #000;
}

article h1 a:hover {
	text-decoration: underline;
}

nav ul li a {
	text-decoration: none;
	color: #000;
	padding: 6px 60px 6px 15px;
	line-height: 34px;
}

nav ul li {
	border-left: 5px solid;
	float: left;
}

nav ul li.blog {
	border-color: #E4FF19;
}

nav ul li.blog:hover {
	background-color: #F6FFB2;
}

nav ul li.about {
	border-color: #0080FF;
}
nav ul li.about:hover {
	background-color: #7FBFFF;
}

nav ul {
	overflow: hidden;
	margin: 0;
	padding: 0;
}*/

.context {
	display: block;
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	right: 0;
	bottom: auto;
	margin-top: 0;
	margin-bottom: 0;
	width: 100%;
	padding: 12px 35px;
	border-bottom: 1px solid #C2C2C2;
	border-top: 1px solid #C2C2C2;
	font-size: 16px;
	font-weight: 500;
	/*background-color: white;*/
	background-color: rgba(255, 255, 255, 1);
}

.context ul {
	list-style-type: none;
}

.context ul li {
	float: left;

}

.content {
	display: block;
	/*position: relative;*/
	overflow: hidden;
	margin-top: 65px;

}